:root {
  --color-rc-blue: #0684bc;
  --color-rc-orange: #ff7a00;
}

.shower {
  --slide-ratio: calc(16 / 9);
}
.slide pre {
  font-size: 18px;
}
.slide li.unmarked {
  color: rgb(150, 150, 150);
}
.slide pre code.add {
  background-color: rgba(0, 128, 0, 0.1);
  color: green;
}
.slide pre code.del {
  background-color: rgba(255, 0, 0, 0.1);
  color: red;
}
.slide .shout.shout-e {
  font-size: 2.2em;
}
.slide.intro {
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.slide.intro > img {
  height: auto;
  width: 55%;
}

.slide.intro > div {
  padding-right: 2em;
}

.slide > h3.bottom-bg {
  background-color: #376da3;
  color: #fff;
  padding: 0.5em 1em;
  margin-top: 0;
  margin-bottom: 0;
}

.slide.carbon {
  background-color: #acb8c3;
}

.slide.rc {
  background-color: #ff9443;
}

.cover.w-60,
.cover.width-60 {
  width: 60%;
  max-height: none;
  margin-top: 5em;
}

.cover.w-75,
.cover.width-75 {
  width: 75%;
  max-height: none;
  margin-top: 2.5em;
}

.cover.w-100,
.cover.width-100 {
  width: 100%;
  max-height: none;
  margin-top: 2em;
}

.cover.w-2048 {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  transform: scaleX(-1);
  transform-origin: center;
}

.rc-logo {
  position: absolute;
  top: 2em;
  left: 4em;
  width: 6em;
  height: auto;
}

sup.todo {
  background-color: yellow;
  border: yellowgreen dashed 1px;
  padding: 0.4em;
}

.slide .columns.two pre code {
  width: initial;
}

code > span.code-result {
  background-color: rgba(0, 0, 255, 0.2);
}

code > span.code-command {
  background-color: rgba(255, 0, 0, 0.2);
}

code > span.code-args {
  background-color: rgba(0, 128, 0, 0.2);
}

.slide::after {
  background-image: url('../../public/assets/ribbon-branded/ribbon-rc.svg');
}

.progress::before {
  background-color: var(--color-rc-blue);
}

.slide .qr-section {
  display: flex;
  height: 100%;
  align-items: center;
}

.slide .qr-left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide .qr-left img {
  width: 70%;
  height: auto;
}

.slide .qr-right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
